<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Page d'accueil</h1>
	<p>Ceci est une page d'accueil</p>
	

	{# commentaires twig #}
	{# pour afficher une variable #}
	{#
		{{ mavariable }}
	#}

	{# boucle #}

	{#

	{% for article in articles %}

	{% endfor %}

	#}

	{#condition #}

	{#
	{% if mavariable == "toto" %}

	{% endif %}

	#}

	Bonjour {{ nom }}

	<a href="bonjour/">Bonjour</a>

</body>
</html>