{#
le mot clé extends permet de faire hériter notre vue du layout
Comme pour les classes, une vue ne peut hériter que d'un layout
Par contre, une vue peut hériter d'une autre vue qui peut hériter elle même d'une autre vue
Twig va chercher directement les vues dans templates/
mon fichier base.html.twig se situe à la racine de templates/
#}
{% extends 'base.html.twig' %}

{# je définis les blocks et leur contenu #}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
	<h1>page d'accueil</h1>
	<p>Ceci est la page d'accueil du site</p>

	{# commentaires twig #}

	{# pour afficher une variable #}
	{# {{ mavariable }} #}

	{# boucle #}
	{# 
	{% for article in articles %}
	{% endfor %}
	#}
	{# condition #}
	{# 
	{% if mavariable == "toto" %}
	{% endif %}
	#}

	Bonjour {{ nom }}
{% endblock %}